# Ignore virtual environment
venv/

# Ignore cache and system files
__pycache__/
*.py[cod]
*.DS_Store

# Ignore Streamlit configuration and logs
.streamlit/

# Ignore data and model files if they are large
social_media_recommendation.pkl